*{padding: 0;margin: 0;font-family: "Microsoft Yahei",Arial,Helvetica,sans-serif;}
li{list-style: none;}
body{
	background: url(img/body-bg.jpg) 50% 0% fixed;
	color: #666;
}
.main-contain{
	width: 960px;min-height: 1260px;
	background: #fff;margin: 20px auto;
}
.contain-body{
	padding: 40px 20px;
}
.contain-body-left{
	float: left;width: 632px;
}
.contain-body-right{
	float: right;width: 250px;
}
.border-con{
	border: 1px solid #DCF0F1;border-radius: 5px;
	box-shadow: 1px 1px 4px #e8e8e8;margin-top: 15px;
	padding-bottom: 10px;
}
.contain-head{
	width:630px;height: 160px;color: #666;margin-top: 0;
}
.contain-head h1{
	padding: 15px 10px;
	font-weight: normal;
}
.head-nav{
	width: 100%;
	margin: 10px;font-size: 13px;
}
.head-nav ul li{
	width: 50%;
	float: left;height: 24px;line-height: 24px;
}
.contain-teach{
	width: 630px;
}
.head-title{
	width: 92%;height: 35px;line-height: 35px;
	font-size: 16px;font-weight: 700;
    margin-bottom: 10px;background: #DCF0F1;
    color: teal;padding-left: 10px;
    margin: 10px 0 10px 10px;
}
.contain-main{
	margin-left: 10px;
}
.main-time{
	height: 24px;line-height: 24px;
	margin-bottom: 5px;margin-left: 10px;
	font-weight: 700;font-size: 13px;
}
.contain-main h4{
	padding-left: 2em;line-height: 24px;
	font-size: 13px;	
}
.contain-main span,.contain-main p,.contain-main ul li{
	padding-left: 2em;line-height: 24px;
	font-size: 13px;text-align: justify;
	margin-bottom: 10px;padding-right: 10px;
	text-indent: 2em;
}
.work-teach{
	float: left;
	width: 100%;
}
.self-pj{
	float: left;width: 100%;
}
.self-pj .contain-main ul{
	width: 90%;height: 100%;margin-left: 42px;
}
.self-pj .contain-main ul li{
    list-style-type: disc;padding: 0;text-indent: 0;
}
.contain-pic{
	text-align: center;
}
.contain-pic img{
	height: 253px;
}
.jinen-pic{
	font-size: 18px;
}
.jinen-pic li{
	text-align: right;margin: 5px 6px 0 0;
}
.jinen-pic li b{
	font-size: 14px;
	font-weight: normal;
}
.font-13{
	margin-right: 5px;
	font-size: 13px;
}
.xingj-pic{
	height: 167px;
}
.xingj-pic li{
	list-style-type: disc;margin-top: 5px;
	margin-left: 10px;font-size: 13px;margin-right: 5px;
}
/*nnn*/